<!-- dashboard partial... -->
<div class="row">
	<ul class="nav nav-pills">
		<li role="presentation" class="active"><a href="/#!/dashboard">Dash</a></li>
		<li role="presentation"><a href="/#/list">All</a></li>
		<!-- <li role="presentation"><a href="/#/pick">Choose</a></li> -->
		<li role="presentation"><button ng-click="logout();" class="btn btn-warning">Logout</button></li>
	</ul>	
</div>
												
<div class="row">
		<h2>Welcome to your user dashboard, {{theUser.fn}}</h2>
</div>
<div class="row">
	<button ng-click="newWorkout('short');" class="btn btn-primary">Start short workout</button>
	<button ng-click="newWorkout('long');" class="btn btn-info">Start long workout</button>
</div>

<div class="row">
	<h4><small>Workout from:</small> {{workoutTimestamp.time | date:'MMMM dd'}}</h4>
</div>

<div class="row">
	<div class="panel panel-default" ng-repeat="e in todaysWorkout track by $index" ng-class="{'panel-success':e.complete}">
		<div class="panel-heading">
			<h4><a ng-href="#/exercise/{{e._id}}">{{e.name}}</a><small> | {{e.bodyName}}: <span ng-if="e.uni">Unilateral</span><span ng-if="!e.uni">Bilateral</span></small></h4>
		</div>
		<div class="panel-body">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<button class="btn btn-info" ng-click="changeComplete($index);">Exercise Complete.</button>
					<button ng-click="getNewIndividual(e, $index);" class="btn btn-warning">Get New.</button>
				</div>					
			</div>
			<br>
			<div class="btn-toolbar">
				<div class="btn-group" role="group">
					<button ng-click='modifyGoal(e._id, theUser._id, -5)' class="btn btn-danger">-5 lbs</button>
					<button class="btn btn-default">{{getGoal($index)}} lbs</button>
					<button ng-click='modifyGoal(e._id, theUser._id, 5)' class="btn btn-success">+5 lbs</button>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-12">
					<p>{{e.description}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
