<!-- dashboard partial... -->
<h2>Welcome to your user dashboard, {{theUser.fn}}</h2>

<button ng-click="newWorkout('short');">Start short workout</button>
<button ng-click="newWorkout('long');">Start long workout</button>
<hr>
<table class="table">
	<tr>
		<th>Name</th>
		<th>Type</th>
		<th>Goal</th>
		<th>Description</th>
		<th>Actions</th>
	</tr>
	<tr ng-repeat="e in todaysWorkout track by $index">
		<td>{{e.name}}</td>
		<td>{{e.bodyName}}</td>
		<td>0000</td>
		<td>link to popout</td>
		<td><button ng-click="getNewIndividual(e, $index)">Get New</button></td>
	</tr>
</table>