<!-- login partial -->
<div>
	<h1>Workout App.</h1>
	<div><h2 ng-repeat="error in listOfErrors" style="color:red;">{{error}}</h2></div>
	<div class="row">
  		<div class="col-md-6">
  			<h2>Login.</h2>
  			<form>
	  			<div class="form-group">
	  				<label for="loginSelect">Select a user.</label>
					<select id="loginSelect" ng-model="selectedUser" class="form-control">
						<option ng-repeat="user in userList" value="{{user._id}}">{{user.fn}}</option>		
					</select>
				</div>
				<div class="form-group">
					<label for="loginPin">Enter your pin.</label>
					<input id="loginPin" type="number" class="form-control" ng-model="userPin" placeholder="0000">
				</div>
				<button class="btn btn-primary btn-lg" ng-click="loginUser();">Login.</button>
			</form>
  		</div>
  		<div class="col-md-6">
  			<h2>Register.</h2>
			<form class="form-horizontal">
				<div class="form-group">
					<label for="registerFn">First Name</label>
					<input id="registerFn" type="text" class="form-control" ng-model="newUserInfo.fn" placeholder="Firstname">
				</div>
				<div class="form-group">
					<label for="registerUn">Username</label>
					<input id="registerUn" type="text" class="form-control" ng-model="newUserInfo.un" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="registerPin">PIN</label>
					<input id="registerPin" type="number" class="form-control" ng-model="newUserInfo.pin" placeholder="0000">
				</div>
				<button class="btn btn-success btn-lg" ng-click="register();">Sign up.</button>				
			</form>
  		</div>
	</div>
</div>